high-availability {
    vrrp {
        group langroup1 {
            interface eth1
            virtual-address 10.0.5.1/24
            vrid 51
        }
        group optgroup1 {
            interface eth2
            virtual-address 10.0.6.1/24
            vrid 61
        }
        group wangroup1 {
            interface eth0
            virtual-address 10.0.17.71/24
            vrid 151
        }
    }
}
interfaces {
    ethernet eth0 {
        address {{ wan_ip_addr }}/24
        description WAN
    }
    ethernet eth1 {
        address {{ lan_ip_addr }}/24
        description LAN
    }
    ethernet eth2 {
        address {{ opt_ip_addr }}/24
        description OPT
    }
    loopback lo
}
nat {
    destination {
        rule 10 {
            description "access web01 from WAN"
            destination {
                address 10.0.17.71
                port 22,80
            }
            inbound-interface eth0
            protocol tcp
            translation {
                address 10.0.5.100
            }
        }
    }
    source {
        rule 10 {
            outbound-interface eth0
            source {
                address 10.0.5.0/24
            }
            translation {
                address masquerade
            }
        }
    }
}
protocols {
    static {
        route 0.0.0.0/0 {
            next-hop 10.0.17.2
        }
    }
}
service {
    dns {
        forwarding {
            allow-from 10.0.5.0/24
            listen-address 10.0.5.1
        }
    }
    ssh {
        listen-address 0.0.0.0
    }
}
system {
    config-management {
        commit-revisions 100
    }
    host-name vyos01
    login {
        user alex {
            authentication {
                encrypted-password $6$YQSEw9UrDI9p8or3$pjd2ZToji0gnYoH9XVPSPePJkh3FtTcuaKMRlqJl7rURJ9PlH.xHRUxCRbtDbEE98td7hmVjez76um0SUu6nq1
            }
        }
        user vyos {
            authentication {
                encrypted-password $6$lEgayS1Fn7$Y4.VS/yBAdhxkmgDAzrzUN/ibgmO9rRgblmnMMxvFqN1D89m/XTqRxk7.DW60cj5Dvv9PC5c0n0V3M7weIk9v/
            }
        }
    }
    name-server 10.0.17.2
    ntp {
        server 0.pool.ntp.org
        server 1.pool.ntp.org
        server 2.pool.ntp.org
    }
    syslog {
        global {
            facility all {
                level info
            }
            facility protocols {
                level debug
            }
        }
    }
}

