set high-availability vrrp group langroup1 interface 'eth1'
set high-availability vrrp group langroup1 virtual-address '10.0.5.1/24'
set high-availability vrrp group langroup1 vrid '51'
set high-availability vrrp group optgroup1 interface 'eth2'
set high-availability vrrp group optgroup1 virtual-address '10.0.6.1/24'
set high-availability vrrp group optgroup1 vrid '61'
set high-availability vrrp group wangroup1 interface 'eth0'
set high-availability vrrp group wangroup1 virtual-address '10.0.17.71/24'
set high-availability vrrp group wangroup1 vrid '151'
set interfaces ethernet eth0 address '{{ wan_ip_addr }}/24'
set interfaces ethernet eth0 description 'WAN'
set interfaces ethernet eth1 address '{{ lan_ip_addr }}/24'
set interfaces ethernet eth1 description 'LAN'
set interfaces ethernet eth2 address '{{ opt_ip_addr }}/24'
set interfaces ethernet eth2 description 'OPT'
set nat destination rule 10 description 'access web01 from WAN'
set nat destination rule 10 destination address '10.0.17.71'
set nat destination rule 10 destination port '22,80'
set nat destination rule 10 inbound-interface 'eth0'
set nat destination rule 10 protocol 'tcp'
set nat destination rule 10 translation address '10.0.5.100'
set nat source rule 10 outbound-interface 'eth0'
set nat source rule 10 source address '10.0.5.0/24'
set nat source rule 10 translation address 'masquerade'
set nat source rule 20 outbound-interface 'eth0'
set nat source rule 20 source address '10.0.6.0/24'
set nat source rule 20 translation address 'masquerade'
set protocols static route 0.0.0.0/0 next-hop 10.0.17.2
set service dns forwarding allow-from '10.0.5.0/24'
set service dns forwarding allow-from '10.0.6.0/24'
set service dns forwarding listen-address '10.0.5.1'
set service dns forwarding listen-address '10.0.5.1'
set service ssh listen-address '0.0.0.0'
set system host-name '{{ hostname }}'
set system login user alex authentication encrypted-password '$6$YQSEw9UrDI9p8or3$pjd2ZToji0gnYoH9XVPSPePJkh3FtTcuaKMRlqJl7rURJ9PlH.xHRUxCRbtDbEE98td7hmVjez76um0SUu6nq1'
set system login user alex authentication public-keys id_lan key 'AAAAB3NzaC1yc2EAAAADAQABAAABgQCg1b/htShVK8JYIlJiBK2lKmDGYrASBS2ItEFdcOA5OWfLoObKM2U3rYa7k3XwGEzf6y9omSGu2+BlQoC30GTKzrb03vu3ClOD2fJ5mtqDMJqm9mFrqHpGZuQlg6X26iggNuA1dcZdzwh75ySfq8u+hUWmYfTncyKDQ8pl8sEFRiRrXM0e+xjxP4mdDXHCBXev0RkJxPYQ1uxH/CTdbq0ef1TjDB9c51zaX5Mu23WJIlwPqPjTipInUD1mU5O8+DN6gsQ4kpnHprfmatILoRlvSKjf5D2Eha/yMgLfh9ys1OrbAZTvvrd/9Sq+f+bp9/rqGYt8ex+Rd6zRKiTzvvEfRIqtbF+Du1mriTcwbhiyugJoQMePHpGyAtexAL39TeFnMHbEtGmQvRNt+CzaZnwGOeUfYW1UzOVqbs1rzVEXiu7GUGC6YQy/bhAFd1YpMZDvVRrN0NocCfGZ9Yai1RsyylQs1kAa/0mi98lxJIik8DyvZcLmR9fT/WrqOhvPoRs='
set system login user alex authentication public-keys id_lan type ssh-rsa
set system login user vyos authentication encrypted-password '$6$lEgayS1Fn7$Y4.VS/yBAdhxkmgDAzrzUN/ibgmO9rRgblmnMMxvFqN1D89m/XTqRxk7.DW60cj5Dvv9PC5c0n0V3M7weIk9v/'
set system name-server '10.0.17.2'
