vrrp_instance VI_1 {
    state {{ vrrp_host_type }}
    interface ens160
    virtual_router_id 81
    priority {{ vrrp_priority }}
    advert_int 1
    authentication {
        auth_type PASS
        auth_pass ThisIsAnotherUnsecurePass
    }
    virtual_ipaddress {
        10.0.5.10/24
    }
}
